<body style="height: 100vh!important;">
    <form method="post" (ngSubmit)="registered()">
        <label for="name">Name:</label>
        <input  [(ngModel)]="person.name" type="text" id="name" name="name" required>
        <div *ngIf="errorResp && errorResp['name']">
            <small style="color: red;">{{errorResp['name']}}</small>
        </div>

        <label for="name">City:</label>
        <input [(ngModel)]="person.city" type="text" id="city" name="city" required>
        <div *ngIf="errorResp && errorResp['city']">
            <small style="color: red;">{{errorResp['city']}}</small>
        </div>

        <label for="email">Email:</label>
        <input  [(ngModel)]="person.email" type="email" id="email" name="email" required>
        <div *ngIf="errorResp && errorResp['email']">
            <small style="color: red;">{{errorResp['email']}}</small>
        </div>

        <label for="mobile">Mobile Number:</label>
        <input  [(ngModel)]="person.mobile" type="text" id="mobile" name="mobile" required>
        <div *ngIf="errorResp && errorResp['mobile']">
            <small style="color: red;">{{errorResp['mobile']}}</small>
        </div>

        <label for="username">Username:</label>
        <input  [(ngModel)]="person.username" type="text" id="username" name="username" required autocomplete="username">
        <div *ngIf="errorResp && errorResp['username']">
            <small style="color: red;">{{errorResp['username']}}</small>
        </div>

        <label for="password">Password:</label>
        <input  [(ngModel)]="person.password" type="password" id="password" name="password" required autocomplete="current-password">
        <div *ngIf="errorResp && errorResp['password']">
            <small style="color: red;">{{errorResp['password']}}</small>
        </div>

        <label for="roles">Role:</label>
        <!-- <input  [(ngModel)]="person.roles" type="text" id="roles" name="roles" required> -->
        <select [(ngModel)]="person.roles"  id="roles" name="roles" required>
            <option value="" disabled selected hidden>Choose a role</option>
            <option *ngFor="let role of userRole" [value]="role.toUpperCase()">{{ role }}</option>
        </select>
        <div *ngIf="errorResp && errorResp['roles']">
            <small style="color: red;">{{errorResp['roles']}}</small>
        </div>

        <input type="submit" value="Submit">
    </form>
</body>