<div class="container text-center py-5 mb-4 ">
	<div class="p-5 mb-4 lc-block">

    <div class="hero-section">
      <div class="container">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="fw-bold display-1" >{{name}}</h1>
          </div>
        </div>
        <div class="">
          <button routerLink="/login" class="btn btn-primary btn-lg me-3">Sign In</button>
          <button routerLink="/register" class="btn btn-outline-primary btn-lg">Register</button>
        </div>
      </div>
    </div>
	</div>
</div> 

