<div class="sidebar">
    <mat-card>
        <mat-action-list>
          <div class="menu">
          <button routerLink="/interpolation" mat-list-item>
            <span><strong>Data Binding interpolation</strong></span>
          </button>

          <div class="menu">
            <button routerLink="/conditional" mat-list-item>
              <span><strong>Conditional</strong></span>
            </button> 
          </div>

          <div class="menu">
            <button routerLink="/openapi" mat-list-item>
              <span><strong>Open API</strong></span>
            </button> 
          </div>
        </div>
      </mat-action-list>
    </mat-card>
</div>
    
    