<div class="container text-center py-5 mb-4 ">
	<div class="p-5 mb-4 lc-block">
		<div class="lc-block mb-4">
			<div editable="rich">
				<h1 class="fw-bold display-1" >Employee Point</h1>
			</div>
		</div>
    <div class="lc-block mb-2">
      <button class="btn btn-primary" routerLink="/login" mat-list-item>
        <span><strong>Login</strong></span>
      </button>
    </div>

    <div class="lc-block mb-2">
      <button class="btn btn-primary" routerLink="/register" mat-list-item>
        <span><strong>Register</strong></span>
      </button>
    </div>
	</div>
</div> 

<!-- <div class="sidebar">
    <mat-card>
        <mat-action-list>
          <div class="menu">
          <button routerLink="/interpolation" mat-list-item>
            <span><strong>Data Binding interpolation</strong></span>
          </button>

          <div class="menu">
            <button routerLink="/conditional" mat-list-item>
              <span><strong>Conditional</strong></span>
            </button> 
          </div>
          
          <div class="menu">
            <button routerLink="/directives" mat-list-item>
              <span><strong>Directives</strong></span>
            </button> 
          </div>

          <div class="menu">
            <button routerLink="/openapi" mat-list-item>
              <span><strong>Open API</strong></span>
            </button> 
          </div>
           
          <div class="menu">
            <button routerLink="/headfoot" mat-list-item>
              <span><strong>Header and footer</strong></span>
            </button> 
          </div>

          <div class="menu">
            <button routerLink="/stylebind" mat-list-item>
              <span><strong>Style Binding</strong></span>
            </button> 
          </div>

          <div class="menu">
            <button routerLink="/pipes" mat-list-item>
              <span><strong>Use of Pipes</strong></span>
            </button> 
          </div>

        </div>
      </mat-action-list>
    </mat-card>
</div>
     -->
